/out/
/resources/*/public/js/compiled/
/resources/*/public/css/compiled/
/resources/*/node_modules
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# clj-kondo cache
/.clj-kondo/.cache
/.lsp/.cache
/resources/*/.env
/.cpcache/
/.clj-kondo/
/resources/app/public/css/compiled
/resources/app/ssr.js
