{:paths ["dev"]
 :deps  {medley/medley {:mvn/version "1.4.0"}
         selmer/selmer {:mvn/version "1.12.50"}}
 :tasks
 {nrepl       x.nrepl/run
  shadow      x.shadow/run
  -start      {:depends [nrepl shadow]}
  start       {:task (run '-start {:parallel true})}
  release:all x.shadow/release-all}}
