{:paths ["dev"]
 :deps  {medley/medley {:mvn/version "1.4.0"}
         selmer/selmer {:mvn/version "1.12.51"}}
 :tasks
 {nrepl       x.nrepl/run
  shadow      x.shadow/run
  css         {:task (clojure "-X:css")}
  -start      {:depends [;; nrepl
                         shadow css]}
  start       {:task (run '-start {:parallel true})}
  release:all x.shadow/release-all}}
