{:module-uris {:shared [], :main ["/js/compiled/main.js"], :profile ["/js/compiled/profile.js"], :mint ["/js/compiled/mint.js"], :404 ["/js/compiled/404.js"], :500 ["/js/compiled/500.js"]}, :module-infos {:shared nil, :main #{:shared}, :profile #{:shared}, :mint #{:shared}, :404 #{:shared}, :500 #{:shared}}}