{:module-uris {:shared ["/js/compiled/shared.js"], :home [], :profile ["/js/compiled/profile.js"], :about ["/js/compiled/about.js"], :login ["/js/compiled/login.js"], :404 ["/js/compiled/404.js"], :500 ["/js/compiled/500.js"]}, :module-infos {:shared nil, :home #{:shared}, :profile #{:shared}, :about #{:shared}, :login #{:shared}, :404 #{:shared}, :500 #{:shared}}}